body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #f5f5f5;
    padding: 20px;
}

#faculty-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card:hover{
    cursor: pointer;
    transform: translateY(5px);
}

.card {
    width: 250px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin: 0;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
}
